version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: pg_benchmark
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: benchmark
    ports:
      - "5433:5432"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - ./scripts:/scripts
